<div id="TaskThirdSolution">
    <form method="post">
        <div>
            <b>
                <input type="text" name="multi_A" />
                A =
            </b>
            <div>
                <div>
                    <input type="text" name="Num1_1" />
                    <input type="text" name="Num1_2" />
                    <input type="text" name="Num1_3" />
                </div>
                <div>
                    <input type="text" name="Num2_1" />
                    <input type="text" name="Num2_2" />
                    <input type="text" name="Num2_3" />
                </div>
                <div>
                    <input type="text" name="Num3_1" />
                    <input type="text" name="Num3_2" />
                    <input type="text" name="Num3_3" />
                </div>
            </div>
        </div>
        <div>
            <b>
                <input type="text" name="multi_B" />
                B =
            </b>
            <div>
                <div>
                    <input type="text" name="B_Num1_1" />
                    <input type="text" name="B_Num1_2" />
                    <input type="text" name="B_Num1_3" />
                </div>
                <div>
                    <input type="text" name="B_Num2_1" />
                    <input type="text" name="B_Num2_2" />
                    <input type="text" name="B_Num2_3" />
                </div>
                <div>
                    <input type="text" name="B_Num3_1" />
                    <input type="text" name="B_Num3_2" />
                    <input type="text" name="B_Num3_3" />
                </div>
            </div>
        </div>

        <p>
            <input type="submit" value="Вычислить" />
        </p>

        <div>
            <b>
                C =
            </b>
            <div>
                <div>
                    <label>@ViewBag.c1_1</label>
                    <label>@ViewBag.c1_2</label>
                    <label>@ViewBag.c1_3</label>
                </div>
                <div>
                    <label>@ViewBag.c2_1</label>
                    <label>@ViewBag.c2_2</label>
                    <label>@ViewBag.c2_3</label>
                </div>
                <div>
                    <label>@ViewBag.c3_1</label>
                    <label>@ViewBag.c3_2</label>
                    <label>@ViewBag.c3_3</label>
                </div>
            </div>
        </div>
    </form>
</div>